<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td>文件列表</td>
                    <td>下载</td>
                </tr>
            </thead>
            <tbody>
               <tr th:each="file:${files}">
                    <td th:text="${file.value}"></td>
                   <td>
                       <a th:href="@{download?filename=}+${file.key}">下载</a>
                   </td>
               </tr>
            </tbody>
        </table>
    </div>
</body>
</html>