<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script type="application/javascript" src="/static/js/tree.js"></script>
    <title>单文件上传</title>
</head>
<body>
<form action="/file/uploadFile" enctype="multipart/form-data" method="post">
    <input type="file"  name="file"/>
    <button type="submit">上传</button>
    <button type="button" onclick="click()">确定</button>
</form>


</body>
</html>